body {
  background-color: #300a24;
  color: white;
}

.CodeMirror {
  font-family: monospace;
  line-height: 1.4;
}

.cm-string {
  color: #ad7fa8;
}
.cm-keyword {
  color: #34e2e2;
  font-weight: bold;
}
