body {
  background-color: #300a24;
  color: white;
  font-family: monospace;
}
.cm-keyword,
.cm-comment,
.cm-bracket,
.cm-attribute,
.CodeMirror-matchingbracket {
  color: #34e2e2; /* neon blue */
}
