/* UBUNTU THEME */

.CodeMirror, .CodeMirror-gutter {
  background-color: #300a24;
}
.CodeMirror {
  color: white;
}
.CodeMirror ::selection {
  background-color: #b6b6b6;
}
.CodeMirror-gutter {
  border-right: 1px solid #533d51;
}
.CodeMirror-gutter-element {
  color: #fce94f;
}
.CodeMirror-content {
  caret-color: white;
}

.cm-keyword,
.cm-comment,
.cm-bracket,
.cm-attribute {
  color: #34e2e2; /* neon blue */
}

.cm-keyword {
  font-weight: bold;
}

.cm-atom,
.cm-string,
.cm-string-2,
.cm-qualifier {
  color: #ad7fa8; /* purple */
}

.cm-property {
  color: #87ffaf; /* pale green */
}

.cm-number,
.cm-def,
.cm-variable,
.cm-punctuation,
.cm-operator,
.cm-variable-2,
.cm-variable-3,
.cm-type,
.cm-meta,
.cm-builtin,
.cm-tag,
.cm-hr,
.cm-link {
}

